<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирвание велосипеда</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styleHome.css">
</head>
<body>
<header th:insert="blocks/headerBicycleManager :: head"></header>

<div class="container mt-5 mb-5">
    <h1>Редактирование велосипеда</h1>
    <div th:each="el : ${bicycle}">
    <form method="post">
        <input type="text" th:value="${el.modell}" name="modell" placeholder="Введите название модели велосипеда" class="form-control"><br>
        <input type="number" th:value="${el.year}" name="year" placeholder="Введите год производства велосипеда" class="form-control"><br>

        <input type="text" th:value="${el.bottomBracket}" name="bottomBracket" placeholder="Введите название каретки" class="form-control"><br>
        <input type="text" th:value="${el.brand}" name="brand" placeholder="Введите бренд велосипеда" class="form-control"><br>
        <input type="text" th:value="${el.chain}" name="chain" placeholder="Введите тип велосипедной цепи" class="form-control"><br>

        <input type="text" th:value="${el.saddle}" name="saddle" placeholder="Введите название седла" class="form-control"><br>
        <input type="text" th:value="${el.pedals}" name="pedals" placeholder="Введите название педалей" class="form-control"><br>
        <input type="text" th:value="${el.frontHub}" name="frontHub" placeholder="Введите тип передней втулки" class="form-control"><br>

        <input type="text" th:value="${el.type}" name="type" placeholder="Введите тип велосипеда" class="form-control"><br>
        <input type="number" th:value="${el.price}" name="price" placeholder="Введите стоимость велосипеда" class="form-control"><br>

        <input type="number" th:value="${el.weight} "name="weight" placeholder="Введите вес велосипеда" class="form-control"><br>
        <input type="number" th:value="${el.wheelDiameter}" name="wheeDiameter" placeholder="Введите диаметр колес" class="form-control"><br>
        <input type="text" th:value="${el.frameMaterial}" name="frameMaterial" placeholder="Введите материал рамы" class="form-control"><br>

        <input type="text" th:value="${el.brakeType}" name="brakeType" placeholder="Введите тип тормозов" class="form-control"><br>
        <input type="number" th:value="${el.numberSpeeds}" name="numberSpeeds" placeholder="Введите количество скоростей" class="form-control"><br>
        <input type="text" th:value="${el.depreciation}" name="depreciation" placeholder="Введите тип амортизации" class="form-control"><br>

        <input type="number" th:value="${el.quantityInStock}" name="quantityInStock" placeholder="Введите количество велосипедов на склааде" class="form-control"><br>
        <textarea name="description" placeholder="Введите описание велосипеда" class="form-control" th:text="${el.description}"/><br>

        <button class="btn btn-success" type="submit">Обновить</button>
    </form>
    </div>
</div>



<div th:insert="blocks/footer :: foot"></div>
</body>
</html>