<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styleHome.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<br>

<div class="container">
    <h1 style="margin: 10px 200px">Добро пожаловать в cycleHERO</h1>
    <h2 style="margin: 10px 130px">Наша история</h2>
    <p class="ptext">В 2024 году, вдохновленные любовью к велоспорту и стремлением предложить качественные продукты,
        мы решили создать cycle HERO — онлайн-платформу для настоящих велосипедистов.
        Наш путь начался с маленького магазина во Владимире,
        и с тех пор мы выросли в сообщество, объединенное страстью к двум колесам.</p>
    <h2 style="margin: 10px 130px">Наша миссия</h2>
    <p class="ptext">
        В cycle HERO мы верим, что велосипед — это не просто транспортное средство, но и способ жизни.
        Наша миссия — делать радость велосипедного путешествия доступной каждому,
        предоставляя широкий выбор высококачественных велосипедов и аксессуаров для любых целей и предпочтений.

    </p>
    <h2 style="margin: 10px 130px">Экспертность и страсть</h2>
    <p class="ptext">Наша команда состоит из опытных велосипедистов и профессионалов индустрии, готовых поделиться своим знанием и опытом с вами.
        Мы влюблены в велоспорт так же, как и вы, и стремимся предложить лучшие решения для каждого нашего клиента.</p>
    <h2 style="margin: 10px 130px">Наш ассортимент</h2>
    <p class="ptext">cycle HERO предлагает широкий ассортимент велосипедов, от городских коммутеров до профессиональных шоссейных моделей.
        Мы также предоставляем аксессуары, запчасти и экипировку, чтобы вы могли наслаждаться каждой поездкой в полной мере.</p>
    <h2 style="margin: 10px 130px">Обслуживание клиентов</h2>
    <p class="ptext">Мы гордимся высоким уровнем обслуживания клиентов.
        Наша команда готова помочь вам с выбором велосипеда, ответить на ваши вопросы и обеспечить первоклассный сервис.
        У нас есть также сервисный центр для технической поддержки и ремонта.</p>
    <h2 style="margin: 10px 130px">Благотворительность и социальная ответственность</h2>
    <p class="ptext">cycle HERO поддерживает местные и мировые инициативы по развитию велосипедной инфраструктуры и спорта.
        Мы верим, что велосипед — это не только способ передвижения, но и средство для создания здорового и устойчивого образа жизни.

        Присоединяйтесь к cycle HERO, и давайте вместе делать мир лучше на двух колесах!

        С любовью к велосипедам,
        Команда cycle HERO</p>


</div>






<div th:insert="blocks/footer :: foot"></div>

</body>

</html>